.tag-page-container {
  .tag-page-header {
    display: flex;
    align-items: center;
    justify-content: start;
    .tag-page-hash-tag {
      width: 3rem;
      height: 3rem;
      color: #ccc;
    }
    .tag-page-title {
        margin-left:0.5rem ;
        font-size: xx-large;
        font-weight: bolder;
        color: #ccc;
    }
  }
}
