.tags-container {
  padding: 20px;
  .tags {
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px; */
    .tag-group {
      /* background-color: var(--secondary10);
      border: 1px solid var(--accent); */
      padding: 10px;
      border-radius: 5px;

      h2 {
        color: #ccc;
        margin-bottom: 10px;
        font-size: 1.2em;
      }
      .tag-items {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 5px;
        .tag {
          background-color: var(--accent);
          color: #ccc;
          font-weight: bolder;
          padding: 2px 10px;
          height: fit-content;
          width: fit-content;
          padding: 5px 10px;
          border-radius: 3px;
          text-decoration: none;
          font-size: 0.9em;
          &:hover {
            background-color: #0056b3;
            transform: scale(1.1);
            transition: transform 0.1s ease-in-out;
          }
        }
      }
    }
  }
}
